site_name: LLM-scCurator
theme:
  name: material
  logo: assets/LLM-scCurator_logo.png
  features:
    - navigation.instant
    - navigation.tracking
    - content.code.copy


nav:
  - Home: index.md
  - Getting started: getting-started.md
  - User guide: user-guide.md
  - Concepts: concepts.md
  - API reference: api-reference.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["."]
          options:
            show_source: false
            show_root_heading: true
            docstring_style: numpy

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      permalink: true
